nav{
    height: 47px;
    width: 1086px;
    background-color: rgb(110, 62, 62);
}
.menu li{
    width: 150px;
    height: 100%;
    float: left;
    line-height: 50px;
    list-style: none;
    
}
.menu li a{
    text-decoration: none;
    color: white;
}